*{
    margin:0;
    padding:0;
}
.title{
    width:100%;
    text-align: center;
}
.title h4{
    font-size: 35px;
}
.nav{
    width:100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: rgb(238, 222, 236);
}
.nav ul{
    display: flex;
    justify-content: center;
    padding:20px 0;
}
.nav ul li{
    list-style-type: none;
    margin:0 20px
}
.nav ul li a{
    color: #333;
    text-decoration: none;
}
.nav ul li a:hover{
    color: #ce8460;
}
main
{
    background-color: rgb(210, 230, 231);
    display: grid; 
    grid-template-columns: 1fr 9fr; 
    grid-gap:15px;
}
article {
    background-color: rgb(232, 224, 186);
    display: auto;
    grid-template-columns: 2fr 4fr 4fr; 
    grid-gap:150px;
}
.article{
    font-size: 20px;
}
.title{
    background-color: rgb(238, 222, 236);
}
footer {
    background-color:  rgb(207, 236, 213);
    
    
}